# GEMINI Settings
# GEMINI_API_KEY=通常抓環境變數，若需要指定api key 則可以在此處定義。

# 如果要控制 file-mcp 的 allow roots，也可以放這裡
FILE_MCP_ROOTS="YOUR_PROJECT_ROOT;Other allow roots..."

# Redmine MCP
REDMINE_URL="YOUR_REDMINE_URL"
REDMINE_API_KEY="YOUR_REDMINE_API_KEY"
